
#extended-html-uploads
{
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  display: none;
  filter: alpha(opacity=0);
  height: 100px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 100;
}

#extended-html-uploads INPUT
{
  background-color: #000;
  font-size: 200px;
  left: -50px;
  position: relative;
  top: -50px;
}

#progress
{
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
